.header {
	width:100%;
	margin-top:-10px;
	padding-bottom:40px;
	position:fixed;
	height:80px;
	overflow:hidden;
	top:0;
	left:0;
	/*background-color: rgba(25,25,25,0.95);*/
	background-image: linear-gradient(to right, rgba(37, 110, 155,0.8), rgba(16, 47, 66, 0.95) );
	z-index:999;
	box-shadow:0px 10px 30px 0px rgba(25, 25, 25, 0.2);
}

.menu {
	width:100%;
	margin-top:110px;
	padding-bottom:40px;
	position:fixed;
	height:10px;
	overflow:hidden;
	top:0;
	left:0;
	background-color: #4790ff;
	opacity:0;

}

.header_pad {
	background:white;
	width:100%;
	margin-top:-80px;
	padding-bottom:40px;
	height:80px;
	overflow:hidden;
	top:0;
	left:0;
}

.footer {
	background-image:linear-gradient(to right, rgba(37, 110, 155,1), rgba(16, 47, 66, 1) );
	width:100%;
	height:100px;
	margin-bottom:0px;
	text-align:right;
}

a {
	color:black;
}





section {
	width: 100%;

	padding-top:50px;
	padding-bottom:1px;
	text-align:center;
}

.extra_pad{
	width:100%;
	display:inline-block;
	height:40px;
}

.sect_a{
	background:white;
	margin-bottom:-4px;
}

.sect_b{
	background:#f7f7f7;

}



.thread {
	display:block;
	width:700px;
	text-align:justify;
	margin: 0 auto;
}

.thread2 {
	display:block;
	width:1000px;
	text-align:justify;
	margin: 0 auto;
	padding-top:40px;
}


.col_40{
	width: 48%;
	float:left;
}

.col_10{
	width:4%;
	float:left;

}

.col_20{
	width:50%;
	float:left;
}

.col_80{
	width:40%;
	float:left;
}

.center_p{
	padding-top:40px;

}

body {
	margin:0px;
	height:100%;
	font-family: 'Roboto', sans-serif;

	font-weight: 100;
}

h1 {
	color:#f7f7f7;
	text-align:right;
	font-size:70px;
	text-shadow: 2px 2px #2983bc;
	line-height:72px;
	padding-right:20px;
}

h2 {
	color:#256e9b;
	text-align:center;
	font-size:110px;
	line-height:40px;
}

h3 {
	color:#256e9b;
	text-align:center;
	font-size:60px;
	line-height:40px;
}

p {
	font-style:lighter;
	margin-bottom:60px;
}

.img img{
	width:300px;
	text-align:center;
	display:block;
	margin:0 auto;
	padding-top:40px;


}

.features img{
	width:220px;
	text-align:center;
	display:block;
	margin:0 auto;
	padding-top:40px;
	padding-left:10px;
	padding-right:10px;


}

.features{
	text-align:center;
	display:inline;
	margin:0 auto;


}

.img{
	text-align:center;
	display:inline;
	margin:0 auto;

}

.left{
	float:left;
}

.right{
	float:right;
}

.img_float1{
	float:left;
}

.img_float2{
	float:left;
}

.img_float3{
	float:right;
}

.img_float4 {
	float:right;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.row{
	width:90%;
	margin:0 auto;

}

.section_foot{
	height:1px;
	position:relative;
	display:inline-block;
	width:600px;
	margin-top:100px;
}

.feature img{
	width:700px;
}


.logo1 {
	margin:0 auto;
	text-align:center;
	display:block;
	float:right;
	height:200px;
	border-radius:20px 20px 20px 20px;

}



.logo2 {
	margin:0 auto;
	text-align:center;
	display:block;
	float:left;
	height:200px;
}

.full img {
	width:100%;
	margin:0 auto;

}

.full {
	padding-top:80px;
	margin-bottom:-10px;
	overflow-x:hidden;
	width:100%;



}

.blck{
	background:#333333;
	padding-top:40px;
}

.white_p{
	color:white;
}

@media only screen and (max-width: 1000px){

	.thread2{
		width:800px;
	}

	.features img {
		width:180px;
	}



}




@media only screen and (max-width: 780px) {



	.thread{
		width:500px;
		font-size:20px;
	}

	.thread2{
		width:500px;
		font-size:20px;
	}

	.header {
		height:60px;
	}



	.img img {
		padding-bottom:30px;
		width:220px;
	}

	.logo1 {
		height:150px;
	}
	
	.logo2 {
		height:150px;
	}

	.feature img {
		width:400px;
	}

	.col_40{
		width:100%;
	}


	.col_10{
		width:0%;
		height:0px;
	}

	h2{
		font-size:85px;

	}

	.section_foot{
		width:500px;
	}

	h1{
		text-align:center;
		padding-right:0px;
		margin-top:38px;

	}

	.img_float1{
		float:left;
	}

	.img_float2{
		float:right;
	}

	.img_float3{
		float:left;
	}

	.img_float4 {
		float:right;
	}

	.features img {
		width:220px;
	}

	.ref {
		font-size:15px;
	}

	h3{
		font-size:30px;
	}




}


@media only screen and (max-width: 540px) {



	.thread{
		width:350px;
	}

	.thread2{
		width:350px;
	}

	.left {
		float:none;
	}

	.right{
		float:none;
	}

	.img img {
		width:300px;
	}

	h1{
		font-size:55px;
		margin-top:22px;
	}

	.logo1{
		height:100px;
	}

	.logo2{
		height:100px;
	}



	h2{
		font-size:60px;
	}

	.section_foot{
		width:350px;
	}

	.img_float1{
		float:none;
	}

	.img_float2{
		float:none;
	}

	.img_float3{
		float:none;
	}

	.img_float4 {
		float:none;
	}

	.full {
		position:relative;
		overflow:hidden;
		height:320px;
	}

	.full img {
		width:700px;
		position: absolute;
       left: -9999px;
       right: -9999px;
        margin: auto;
	}

		.header {
		height:40px;
	}



}

